<h1>Hacker News</h1>
<% if logged_in? %>
  <a href="/user/<%= @user.id %>"><%= @user.user_name %></a><br><br>
  <form class="button-for-form" action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
<% else %>
<ul>
  <li><a href="/login">login</a></li>
  <li><a href="/register">Create Account</a></li>
</ul>
<% end %>
<% if logged_in? %>
<ul>
  <li><a href="/posts/new">Submit</a></li>
</ul>
<% end %>

<h1>POSTS</h1>
<% @posts.reverse.each do |post| %>
  <h3><a href="/posts/<%= post.id %>"><%= post.title %></a> </h3>
  <p> <%= post.content %></p>
  <a href="/posts/<%= post.id %>"><%= post.comments.count %> Comments</a>
  <p><a href="/user/<%= post.user.id %>"> <%= post.user.user_name %> </a></p>

<% end %>
